body {
	margin: 0;
	background: white;
}
textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: transparent;
	width: 100%;
	height: 85vh;
}
input {
	background: transparent;
	border: none;
	color: #f2f2f2;
	font-family: "Courier", monospace;
}
blockquote {
	border-left: 2px solid #1EAEDB;
	padding-left: 10px;
}
.home {
	padding: 20px;
}
.header {
	background: #222;
	padding: 15px;
	color: #f2f2f2;
}
.utility, .utility-text {
	text-decoration: none;
}

#save-options {
	color: #d0cfcf !important;
}

.hidden {
	display: none!important;
}
.night-element body {
	background-color: #272727;
	color: #fff;
}
.night-element a {
	color: #1EAEDB;
}
.night-element code {
	color: #000;
}
.night-element textarea {
	color: #fff;
}
@media print {
	body {
		visibility: hidden!important;
	}
	#output, #output * {
		visibility: visible!important;
	}
	#output {
		position: absolute;
		left: 0;
		top: 0;
		color: #000;
	}
}
@font-face {
	font-family: 'icomoon';
	src: url('fonts/icomoon.eot');
	src: url('fonts/icomoon.eot#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf') format('truetype'), url('fonts/icomoon.woff') format('woff'), url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: 400;
	font-style: normal
}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon'!important;
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
.icon-printer:before {
	content: "\e954"
}
.icon-floppy-disk:before {
	content: "\e962"
}
.icon-bin:before {
	content: "\e9ac"
}
.icon-upload3:before {
	content: "\e9c8"
}
.icon-brightness-contrast:before {
	content: "\e9d6"
}

.icon-download3:before {
  content: "\e9c7";
}
